$exeq-main: #251244;
$exeq-inverted: #f4f4f4;
$exeq-bg: #fafafa;
$exeq-border: #e6e6e6;
$exeq-dots: #dfdfdf;
$exec-red: #D52E2D;
$exec-darkred: #8D2B2E;
$exec-image-hover: #a51a22;
$exeq-inactive: #f56768;
$exeq-menu-bg: #ce2426;
$exeq-small-desktop: 1440px;
$exeq-max-width: 1890px;

$exeq-transition-duration: .3s;
$exeq-transition-steps: $exeq-transition-duration*3;

$exeq-font-fancy: "Exo 2", sans-serif;

$exeq-breakpoint: 1300px;
$exeq-breakpoint-xlarge: 1490px;

$brand-danger: #d72d2f;
$brand-success: #0e8e53;

$body-bg: $exeq-bg;
$text-color:            $exeq-main;
$link-color:            $brand-danger;

$font-family-sans-serif:  "Open Sans", sans-serif;

$font-size-base:          18px;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            77px;
$font-size-h2:            $font-size-h1;
$font-size-h3:            15px;

$zindex-navbar-fixed:      1100;
$zindex-modal-background:  1110;
$zindex-modal:             1120;

$screen-lg:                  1230px;

$grid-float-breakpoint:     10000px;

$grid-gutter-width:         30px;

$container-large-desktop:      (1170px + $grid-gutter-width);

$navbar-height:                    0;
$navbar-margin-bottom:             0;
$navbar-border-radius:             0;
$navbar-padding-horizontal:        0;
$navbar-padding-vertical:          0;
$navbar-collapse-max-height:       auto;

$navbar-default-color:             $exeq-main;
$navbar-default-bg:                transparent;
$navbar-default-border:            none;

$navbar-default-link-color:                $exeq-inverted;
$navbar-default-link-hover-color:          $exeq-inverted;
$navbar-default-link-active-color:         $navbar-default-link-hover-color;

$navbar-default-toggle-hover-bg:           transparent;
$navbar-default-toggle-icon-bar-bg:        $brand-danger;

$popover-bg:                          #fff !default;
$popover-max-width:                   300px;
$popover-arrow-width:                 10px;
$popover-arrow-outer-width:           ($popover-arrow-width + 1);
$popover-arrow-outer-color:           $brand-danger;

$modal-inner-padding: 0 60px 60px;
$modal-title-padding: 60px 60px 0;
$modal-title-line-height: 46px;

$modal-content-bg: $exeq-bg;
$modal-content-border-color: transparent;
$modal-content-fallback-border-color: transparent;
$modal-backdrop-bg: #1d124a;
$modal-backdrop-opacity: 0.8;
$modal-header-border-color: transparent;
$modal-footer-border-color: transparent;
$modal-lg: 686px;
$modal-md: 686px;
$modal-sm: 300px;

$hr-border: #c1282a;
