/*!
Theme Name: EXEQ
Author: Paweł Kowalewski
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, two-columns, left-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-logo, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@import "variables";

@import "bootstrap";

html {
  border: 10px solid $brand-danger;
  overflow-x: hidden;

  background: $brand-danger;
  @media (max-width: $screen-sm-max) {
    border-width: 5px;
  }

  @media (max-width: $screen-xs-max) {
    border-width: 3px;
  }
}

body {
  position: relative;
  max-width: $exeq-max-width;
  margin: 0 auto;
  padding: 0 !important;
  overflow: hidden;
  text-align: center;

  @media (max-width: $exeq-breakpoint-xlarge) {
    font-size: 16px;
  }

  @media (max-width: $screen-xs-max) {
    font-size: 15px;
  }
}

.no-js {
  * {
    opacity: 1!important;
  }
}

.content {
  position: relative;
  z-index: 4;
  opacity: 0;
  transition: transform $exeq-transition-duration*2 $exeq-transition-duration*.25,
  opacity $exeq-transition-duration*5 $exeq-transition-duration*12;

  &.active2 {
    opacity: 1;
  }

  &.collapsed {
    transform: translateZ(0);
  }

  h1, h2 {
    font-weight: 600;
    margin: 0;
    color: $exeq-main;

    @media (max-width: $exeq-breakpoint-xlarge) {
      font-size: 60px;
    }

    @media (max-width: $screen-sm-max) {
      font-size: 50px;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 30px;
    }

    &:not(.header-regular) {
      background: -webkit-linear-gradient(transparent, transparent),
      url('img/h1-bg.jpg');
      background: -o-linear-gradient(transparent, transparent);
      -webkit-background-clip: text;
      transform: translateZ(0);

      &.header-fancy {
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

h1, h2 {
  &:not(.header-regular) {
    b {
      -webkit-text-fill-color: initial;
    }
  }

  b {
    font-weight: 600;
    color: $exeq-main;
    transition: color $exeq-transition-duration*2 $exeq-transition-duration*5;

    .active & {
      color: $brand-danger;
    }
  }
}

.container {
  @media (min-width: $screen-md-min) and (max-width: $exeq-breakpoint-xlarge) {
    width: 1000px;
  }

  @media (max-width: $screen-xs-max) {
    margin: {
      left: $grid-gutter-width / -6;
      right: $grid-gutter-width / -6;
    }
  }
}

.navbar-fixed-top {
  max-width: $exeq-max-width;
  margin: 0 auto;
}

.navbar-nav {
  font-size: 20px;
  font-weight: 300;

  > li {
    > a {
      padding: 0;
      line-height: 45px;

      span {
        position: relative;

        &:after {
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 100%;
          height: 4px;
          background: rgba($exeq-main, .1);
          border-radius: 1px;
          opacity: 0;
          transform: translateZ(0) translateY(25px);
          transition: opacity $exeq-transition-duration, transform $exeq-transition-duration;
          content: '';
        }
      }

      &:hover {
        span {
          &:after {
            opacity: 1;
            transform: translateZ(0) translateY(0);
          }
        }
      }
    }
  }
}

.navbar-home {
  position: absolute;
  top: 50px;
  left: 180px;
  display: block;
  color: $exeq-main;
  border: none;
  transition: color $exeq-transition-duration;

  svg {
    width: 26px;
    margin-top: -3px;

    path {
      fill: $brand-danger;
    }
  }

  @media (max-width: $screen-md-max) {
    left: 110px;
  }

  @media (max-width: $screen-sm-max) {
    top: 44px;
    left: 100px;
  }

  @media (max-width: $screen-xs-max) {
    top: 37px;
    left: 90px;
  }
}

.header {
  opacity: 0;
  transition: opacity $exeq-transition-duration*5 $exeq-transition-duration*12;

  &.active2 {
    opacity: 1;
  }

  > .scrollspy {
    .nav {
      position: fixed;
      text-align: left;
      top: 50%;
      z-index: 5;
      opacity: 0;
      transform: translate3d(30px, -50%, 0);
      transition: opacity $exeq-transition-duration $exeq-transition-duration;

      //@media (max-width: $screen-sm-max) {
        display: none;
      //}

      > li {
        > a {
          font-size: 0;
          display: block;
          width: 6px;
          height: 6px;
          margin: 14px 0;
          background: $exeq-dots;
          border-radius: 50%;
          transition: background-color $exeq-transition-duration, transform $exeq-transition-duration;
        }

        &.active > a {
          background-color: $exeq-bg;
          transform: translateZ(0) scale(2.5, 2.5);

          &:before {
            position: absolute;
            top: 1px;
            right: 1px;
            bottom: 1px;
            left: 1px;
            background: $brand-danger;
            border-radius: 50%;
            content: '';
          }
        }
      }
    }

    &.fade-in .nav {
      opacity: 1;
    }
  }
}

.logo {
  display: block;
  width: 203px;
  height: 240px;
  margin: 80px auto 46px;
  font-size: 0;
  border: none;
  transform: translateZ(0);
  transition: transform $exeq-transition-duration*2 $exeq-transition-duration*11 linear;

  &__container {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 10;
    transform: translateZ(0) translateX(-50%);
    transition: transform $exeq-transition-duration*2 $exeq-transition-duration*.25;

    &.collapsed {
      transform: translateZ(0) translateX(calc(-50%));
    }
  }

  &--red {
    fill: $exec-red;
  }

  &--darkred {
    fill: $exec-darkred;
  }

  @media (max-width: $screen-sm-max) {
    width: 149px;
    height: 176px;
    margin: 25px auto 19px;
  }

  @media (max-width: $screen-xs-max) {
    width: 88px;
    height: 104px;
  }
}

.section {
  position: relative;
  z-index: 2;
  padding: 60px 0 30px;

  &__separator {
    @include make-sm-column(1);
    display: block;
    height: 2px;
    margin: 75px auto 90px;
    float: none !important;
    background: $brand-danger;

    @media (max-width: $screen-xs-max) {
      width: 100px;
      margin: 35px auto;
    }
  }

  h1, h2 {
    padding-bottom: 50px;
  }
}

@keyframes intro-3 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.intro {
  width: 750px;
  margin: {
    left: auto;
    right: auto;
  }
  padding: 341px 0 250px;

  > * {
    opacity: 0;
    transition: opacity $exeq-transition-duration*3 $exeq-transition-duration*3,
      transform $exeq-transition-duration*3 $exeq-transition-duration*3;
  }

  &.active > {
    * {
      opacity: 1;
      transform: translateZ(0);
    }

    h1 {
      transition-delay: $exeq-transition-duration * 1.5;
    }

    p {
      transition-delay: $exeq-transition-duration * 2;
    }

    .read-more {
      transition-delay: $exeq-transition-duration * 2.5;
    }
  }

  @media (max-width: $screen-sm-max) {
    padding-top: 215px;
    width: 522px;
  }

  @media (max-width: $screen-xs-max) {
    padding-top: 155px;
    width: 300px;
    padding-bottom: 50px;
  }

  h1 {
    transform: translateZ(0) translateY(300px);
  }

  p {
    margin-bottom: 135px;
    padding-top: 50px;
    border-top: 1px solid $exeq-border;
    transform: translateZ(0) translateY(50px);

    @media (max-width: $screen-sm-max) {
      margin-bottom: 66px;
    }

    @media (max-width: $screen-xs-max) {
      margin-bottom: 33px;
    }
  }

  &__container {
    position: relative;
    z-index: 1;
    transform: translate3d(0,0,0);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    .container {
      z-index: 3;
    }

    .scene {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__bg {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    width: 1920px;
    height: 1386px;
    transform: translate3d(-50%, 31%, 0);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    background-image: url('img/intro-bg1.jpg');
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: $screen-sm-max) {
      width: 1560px;
      transform: translate3d(-52%, 41%, 0);
    }

    @media (max-width: $screen-xs-max) {
      width: 560px;
      transform: translate3d(-52%, 81%, 0);
    }

    &--3 {
      z-index: 3;
      background-image: url('img/intro-bg3.jpg');
      animation: intro-3 6s infinite;
    }
  }

  &--content {
    padding-bottom: 0;

    @media (max-width: $screen-xs-max) {
      padding-bottom: 0;
    }

    p {
      margin-bottom: 55px;
    }
  }
}

.process {
  padding-bottom: 0;

  @media (min-width: $screen-md-min) {
    padding-bottom: 120px;
  }

  p {
    @media (max-width: $exeq-breakpoint-xlarge) {
      font-size: 18px;
    }
  }

  &__container {
    position: relative;
    z-index: 2;
  }

  &__bg {
    position: absolute;
    bottom: 0;
    left: -15px;
    z-index: 1;
    width: 561px;
    height: 663px;
    background: url('img/process-bg.jpg') no-repeat;
    transform: translate3d(0, 40%, 0);
    background-size: contain;

    @media (max-width: $screen-sm-max) {
      width: 300px;
      transform: translateZ(0) translateY(58%);
      background: url('img/process-mobile-bg.jpg') no-repeat transparent;
    }

    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
}

.steps-hint {
  display: block;
  margin-top: 8px;
  font-size: 15px;
  font-weight: 600;
  color: $brand-danger;

  svg {
    width: 30px;
    vertical-align: sub;
  }
}

.why-us {
  padding-bottom: 110px;

  @media (max-width: $screen-sm-max) {
    padding-top: 0;
  }

  @media (max-width: $screen-xs-max) {
    padding-bottom: 45px;
  }

  p {
    @media (max-width: $screen-xs-max) {
      font-size: 13px;
    }
  }

  &__container {
    position: relative;
  }

  &__bg {
    position: absolute;
    bottom: 0;
    right: -15px;
    z-index: 1;
    width: 602px;
    height: 1312px;
    background: url('img/why-us-bg.jpg') no-repeat;
    transform: translate3d(0, -6%, 0);
    background-size: contain;

    @media (max-width: $exeq-small-desktop) {
      right: -15px;
      width: 350px;
      transform: translate3d(0, 10%, 0);
    }

    @media (max-width: $screen-md-max) {
      width: 320px;
    }

    @media (max-width: $screen-sm-max) {
      right: -45px;
      width: 305px;
      transform: translate3d(0, -16%, 0);
    }

    @media (max-width: $screen-xs-max) {
      right: -27px;
      width: 196px;
      transform: translate3d(0, 16%, 0);
    }
  }
}

#clients {
  @media (min-width: $screen-sm-min) {
    padding-top: 85px;
  }
}

.know-how {
  padding-bottom: 0;

  &__container {
    position: relative;
    z-index: 1;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: -15px;
    z-index: 1;
    width: 1653px;
    height: 929px;
    background: url('img/know-how-bg.jpg') no-repeat;
    transform: translate3d(0, -101%, 0);
    background-size: contain;

    @media (max-width: $screen-sm-max) {
      width: 768px;
      height: 587px;
      background-image: url('img/know-how-mobile-bg.jpg');
      transform: translate3d(0, -114%, 0);
    }

    @media (max-width: $screen-xs-max) {
      transform: translate3d(-26%, -82%, 0);
    }
  }
}

.staff {
  &__container {
    position: relative;
    z-index: 2;
  }
}

.jobs {
  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 800px;
    height: 717px;
    transform: translate3d(54%,0,0);
    background: url('img/jobs-bg2.jpg') no-repeat;
    background-size: contain;

    @media (max-width: $screen-sm-max) {
      width: 1560px;
      transform: translate3d(-52%, 41%, 0);
    }

    @media (max-width: $screen-xs-max) {
      display: none;
    }

    &--2 {
      right: auto;
      left: 0;
      width: 561px;
      height: 663px;
      transform: translate3d(0,0,0);
      background: url('img/process-bg.jpg') no-repeat;

      @media (max-width: $screen-md-max) {
        transform: translate3d(0, -5%, 0);
      }

      @media (max-width: $screen-sm-max) {
        transform: translate3d(0, -13%, 0);
      }
    }
  }
}

.footer {
  position: relative;
  z-index: 1;
  padding: 50px 0 35px;
  text-align: left;
  font-size: 15px;
  background: $brand-danger;

  &--offset {
    @media (min-width: $screen-md-min) {
      margin: {
        left: 32px;
        right: -32px;
      }
    }
  }

  &__title {
    margin: 0 0 $grid-gutter-width;
    width: 160px;
    font-weight: 700;
    line-height: 20px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: $grid-gutter-width/2;
    }
  }

  &__logo {
    display: block;
    width: 78px;
    margin-top: 13px;
    padding-top: 13px;
    border-top: 1px solid $hr-border;
  }

  &__copy {
    text-align: center;
    font-size: 14px;
    color: rgba(#000, .4);

    @media (max-width: $screen-xs-max) {
      font-size: 11px;
    }

    svg {
      display: block;
      margin: $grid-gutter-width/2 auto 0;
      width: 77px;

      @media (max-width: $screen-xs-max) {
        width: 64px;
      }
    }

    .path-riotters {
      fill: #fff;
    }
  }

  hr {
    margin: $grid-gutter-width/3 0 $grid-gutter-width*1.5;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 25px;
    }
  }

  .social-links {
    margin: 0;
  }
}

.footer-data {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 25px;
  color: #fff;

  &__item {
    margin-bottom: $grid-gutter-width;

    @media (max-width: $screen-xs-max) {
      margin-bottom: $grid-gutter-width / 3 * 2;
    }

    svg {
      width: 40px;
      margin: 7px 25px 10px 0;
      float: left;

      @media (max-width: $exeq-breakpoint-xlarge) {
        display: block;
        float: none;
      }

      path {
        fill: #fff;
      }
    }
  }
}

.svg-bg {
  width: 0;
  height: 0;
}

.layer {
  div {
    opacity: 0;
    transition: opacity $exeq-transition-duration;
  }
}

@import "components/back-to-top";
@import "components/coords-axis";
@import "components/counter";
@import "components/dot";
@import "components/features";
@import "components/gallery";
@import "components/job-list";
@import "components/languages";
@import "components/modal";
@import "components/navbar-toggle";
@import "components/navbar-collapse";
@import "components/newsletter";
@import "components/popover";
@import "components/read-more";
@import "components/services";
@import "components/social-links";
@import "components/steps";
@import "components/steps-lines";
