@mixin back-to-top {
  position: relative;
  top: -25px;
  display: inline-block;
  margin-bottom: 25px;
  font-weight: bold;
  color: $exeq-main;
  transition: color $exeq-transition-duration;

  &:hover {
    text-decoration: none;
    color: $brand-danger;
  }

  svg {
    width: 16px;
    margin-right: 8px;
    vertical-align: sub;

    path {
      fill: $brand-danger;
    }
  }
}

.back-to-top {
  @include back-to-top;
}
