@mixin coords-axis {
  position: relative;
  top: -210px;
  z-index: 2;
  margin-bottom: -20px;
  height: 1px;
  background: linear-gradient(to right, $exeq-dots 50%, $brand-danger);
  transition: transform $exeq-transition-duration;

  @media (max-width: $screen-sm-max) {
    width: 233.3331%;
  }

  @media (max-width: $screen-xs-max) {
    width: 1365px;
  }

  $width: 50px;

  &:before, &:after {
    position: absolute;
    top: 0;
    left: -$width;
    width: $width;
    height: 1px;
    background: $exeq-dots;
    content: '';

    @media (max-width: $exeq-breakpoint) {
      left: 0;
      width: 0;
    }
  }

  &:after {
    left: auto;
    right: -$width;
    background: $brand-danger;

    @media (max-width: $exeq-breakpoint) {
      right: 0;
    }
  }

  &__point {
    position: relative;
    width: 2.8571%;
    height: 20px;
    margin-top: -10px;
    float: left;

    &:not(:first-child):before {
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background: $exeq-dots;
      content: '';
    }

    &--marker {
      height: 60px;
      margin-top: -30px;

      &:not(:first-child):before {
        left: -1px;
        width: 2px;
        background: linear-gradient(to bottom, $exeq-main -5%, $brand-danger 10%);
      }
    }
  }

  &__arrow {
    position: absolute;
    top: -6px;
    right: -$width - 7px;
    width: 0;
    height: 0;
    float: right;
    border: 6.5px solid transparent;
    border-left: 10px solid $brand-danger;

    @media (max-width: $exeq-breakpoint) {
      right: -7px;
    }
  }
}

.coords-axis {
  @include coords-axis;
}
