@keyframes counter {
  0% {
    transform: translateZ(0) translateY(0);
  }

  100% {
    transform: translateZ(0) translateY(calc(-100% + 77px));

    @media (max-width: $screen-xs-max) {
      transform: translateZ(0) translateY(calc(-100% + 60px));
    }
  }
}

@keyframes counter-phone {
  0% {
    transform: translateZ(0) translateY(0);
  }

  100% {
    transform: translateZ(0) translateY(calc(-100% + 60px));
  }
}

@mixin counter {
  display: block;
  position: relative;
  height: 77px;
  overflow: hidden;

  @media (max-width: $screen-xs-max) {
    height: 60px;
  }

  &__list {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;

    @at-root .active & {
      animation-name: counter;
      animation-duration: 2s;
      animation-fill-mode: forwards;

      @media (max-width: $screen-xs-max) {
        animation-name: counter-phone;
      }
    }
  }

  &__item {
    background: -webkit-linear-gradient($exeq-main 5%, $brand-danger 33%);
    background: -o-linear-gradient($brand-danger, $exeq-main);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
  }
}

.counter {
  @include counter;
}
