$animation-speed: 1000ms;
$dot-size: 10px;

@mixin animation($delay: 0ms) {
  animation: fx $animation-speed ease infinite $delay;
}

@mixin dot {
  width: $dot-size;
  height: $dot-size;
  border: ($dot-size / 5) solid $brand-danger;
  border-radius: 50%;
  float: left;
  margin: 0 ($dot-size / 2);
  transform: scale(0);
  @include animation();

  &:nth-child(2) {
    @include animation($animation-speed * 0.3);
  }

  &:nth-child(3) {
    @include animation($animation-speed * 0.6);
  }

  &__container {
    position: absolute;
    top: calc(58%);
    left: 50%;
    width: 60px;
    transform: translate(-50%, -50%);
  }

  @keyframes fx {
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.dot {
  @include dot;
}