@mixin features {
  @include make-row;
  margin-top: 115px;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
  list-style: none;

  @media (min-width: $screen-md-min) and (max-width: $exeq-small-desktop) {
    padding-left: $grid-gutter-width*2;
  }

  @media (max-width: $screen-xs-max) {
    margin-top: 0;
  }

  &__item {
    @include make-xs-column(6);
    @include make-xs-column-offset(3);
    @include make-sm-column(4);
    @include make-sm-column-offset(1);
    @include make-md-column(3);
    @include make-md-column-offset(0);
    position: relative;
    opacity: 0;
    transition: opacity $exeq-transition-duration $exeq-transition-duration;

    + .features__item {
      transition-delay: $exeq-transition-duration*2;

      + .features__item {
        transition-delay: $exeq-transition-duration*3;

        + .features__item {
          transition-delay: $exeq-transition-duration*4;
        }
      }
    }

    .active & {
      opacity: 1;
    }

    @media (max-width: $screen-sm-max) {
      margin-bottom: $grid-gutter-width * 2;
    }

    @media (max-width: $screen-xs-max) {
      margin-bottom: $grid-gutter-width;
    }

    &:nth-child(2n-1) {
      @media (max-width: $screen-sm-max) {
        @include make-sm-column-offset(2);
        clear: left;
      }
    }

    &:first-child .features__header {
      margin-right: 65px;

      @media (max-width: $exeq-breakpoint-xlarge) {
        margin-right: 0;
      }
    }

    &:last-child .features__header:after {
      @media (max-width: $screen-xs-max) {
        content: none;
      }
    }
  }

  &__header {
    display: block;
    margin: 0 120px 15px 0;

    @media (max-width: $screen-xs-max) {
      margin-right: 0;
    }

    &:after {
      position: absolute;
      left: $grid-gutter-width / 2;
      bottom: -8px;
      width: 60px;
      height: 1px;
      background: $exeq-dots;
      content: '';

      @media (max-width: $screen-xs-max) {
        width: 30px;
      }
    }

    @media (min-width: $screen-md-min) {
      margin: 0 120px 105px 0;

      &:after {
        top: 75px;
        bottom: auto;
        width: 1px;
        height: 60px;
      }
    }
  }

  .feature-number {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    font-style: italic;
    line-height: 1;
    color: $brand-danger;

    @media (max-width: $screen-xs-max) {
      font-size: 12px;
    }

    &__count {
      display: block;
      margin-bottom: 20px;
      font-family: $exeq-font-fancy;
      font-size: 77px;
      font-weight: 300;
      font-style: normal;

      @media (max-width: $screen-xs-max) {
        margin-bottom: 5px;
        font-size: 60px;
      }
    }
  }
}

.features {
  @include features;
}
