@mixin gallery {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  transition: transform $exeq-transition-duration;

  &__container {
    position: relative;
    margin-bottom: 340px;

    @media (max-width: $exeq-breakpoint-xlarge) {
      width: 936px;
      margin: {
        left: auto;
        right: auto;
      }
    }

    @media (max-width: $screen-md-max) {
      width: 660px;
    }

    @media (max-width: $screen-sm-max) {
      width: 468px;
      margin-bottom: 100px;
    }

    @media (max-width: $screen-xs-max) {
      width: 180px;
      margin-bottom: 25px;
    }

    #services & {
      margin-bottom: 0;
    }

    &--wide {
      margin-bottom: 150px;

      @media (max-width: $screen-xs-max) {
        margin-bottom: 30px;
      }

      .gallery-nav__bullets {
        @media (max-width: $screen-xs-max) {
          bottom: -15px;
        }
      }
    }
  }

  &__inner {
    position: relative;
    z-index: 3;
    overflow: hidden;

    &--wide {
      .gallery {
        &-item {
          flex-basis: 234px;

          @media (max-width: $screen-xs-max) {
            flex-basis: 180px;
          }

          img {
            max-width: 100%;

            @media (max-width: $screen-sm-max) {
              margin-bottom: 5px;
            }
          }
        }

        &-icon {
          position: relative;

          &:hover {
            .gallery-caption-desc {
              opacity: 1;
            }

            &:before {
              opacity: 1;
            }
          }

          &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: linear-gradient(to top, $exec-image-hover, rgba($exec-image-hover, .8));
            opacity: 0;
            transition: opacity $exeq-transition-duration;
            content: '';
          }

          .gallery-caption-desc {
            display: block;
            position: absolute;
            bottom: 9%;
            left: 0;
            z-index: 2;
            width: 100%;
            padding: 0 20%;
            font-size: 14px;
            color: $exeq-bg;
            opacity: 0;
            transition: opacity $exeq-transition-duration;

            @each $i in (li, tel, mail) {
              .#{$i} {
                display: inline-block;
                width: 23px;
                height: 23px;
                margin: 10px 2px 0;
                background: url('img/#{$i}-icon-bg.png') no-repeat;
                background-size: contain;
              }
            }

            a {
              &:before {
                display: block;
                content: '';
              }
            }
          }
        }

        &-caption {
          font-size: 18px;
          font-weight: 400;

          @media (max-width: $screen-sm-max) {
            font-size: 11px;
          }

          &-alt {
            margin-top: 0;
            font-size: 16px;
            font-weight: 300;
            font-style: italic;
          }

          &-desc {
            display: none;
          }
        }
      }
    }
  }

  &-item {
    position: relative;
    flex-basis: 115px;
    opacity: 0;
    transition: opacity $exeq-transition-duration $exeq-transition-duration*2;

    .active & {
      opacity: 1;
    }

    &--link {
      z-index: -1;

      a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        font-size: 30px;
        font-weight: 700;
        background: #faf8f8;
        box-shadow: 0 0 15px rgba(#555, .12);
        transition: color $exeq-transition-duration;

        @media (max-width: $exeq-breakpoint-xlarge) {
          font-size: 24px;
        }

        &:hover, &:focus {
          text-decoration: none;
          color: $exeq-main;

          .gallery-item__plus {
            &:before, &:after {
              background: $exeq-main;
            }
          }
        }
      }

      .gallery-item__plus {
        position: absolute;
        bottom: 24px;
        right: 24px;

        &:before, &:after {
          position: absolute;
          bottom: 0;
          right: -9px;
          width: 20px;
          height: 2px;
          background: $brand-danger;
          transition: background $exeq-transition-duration;
          content: '';
        }

        &:after {
          bottom: -9px;
          right: 0;
          width: 2px;
          height: 20px;
        }
      }
    }

    @media (max-width: $screen-xs-max) {
      flex-basis: 180px;
    }

    img {
      display: block;
      margin: 0 auto $grid-gutter-width;
      max-width: 115px;
      height: auto;

      @media (max-width: $screen-sm-max) {
        margin-bottom: 0;
      }

      @media (max-width: $screen-xs-max) {
        width: 180px;
      }
    }
  }

  &-icon {
    .gallery-caption-desc {
      display: none;
    }
  }

  &-caption {
    font-size: 20px;
    font-weight: 700;

    @media (max-width: $exeq-breakpoint-xlarge) {
      font-size: 18px;
    }

    @media (max-width: $screen-sm-max) {
      font-size: 15px;
    }

    &-alt, &-desc {
      display: block;
      margin-top: 40px;
      font-size: 12px;
      color: $brand-danger;

      @media (max-width: $screen-sm-max) {
        font-size: 9px;
        margin-top: 0;
      }
    }

    &-desc {
      margin-top: 0;
      font-weight: 300;
    }
  }

  &-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;

    &__prev, &__next {
      position: absolute;
      top: 50%;
      left: -96px;
      transform: translateZ(0) translateY(-50%);

      @media (max-width: $screen-xs-max) {
        left: -$grid-gutter-width*1.5;
      }
    }

    &__next {
      left: auto;
      right: -96px;
      transform: translateZ(0) translateY(-50%) rotateY(180deg);

      @media (max-width: $screen-xs-max) {
        right: -$grid-gutter-width*1.5;
      }
    }

    &__arrow {
      width: 14px;

      &:hover {
        path {
          opacity: 1;
          fill: $brand-danger;
        }
      }

      path {
        fill: #10101a;
        fill-rule: evenodd;
        opacity: 0.3;
        transition: fill $exeq-transition-duration, opacity $exeq-transition-duration;
      }
    }

    &__bullets {
      display: none;
      position: absolute;
      bottom: -90px;
      left: 50%;
      margin: 0;
      padding: 0;
      list-style: none;
      transform: translateZ(0) translateX(-50%);

      @media (max-width: $screen-xs-max) {
        bottom: -40px;
      }
    }

    &__bullet {
      float: left;

      &--active .gallery-nav__link {
        background-color: $brand-danger;
        transform: translateZ(0) scale(1.66, 1.66);
      }
    }

    &__link {
      display: block;
      width: 6px;
      height: 6px;
      margin: 0 7px;
      background: $exeq-dots;
      border-radius: 50%;
      transition: background-color $exeq-transition-duration, transform $exeq-transition-duration;
    }
  }
}

.gallery {
  @include gallery;
}
