@mixin job-list {
  position: relative;
  margin: 0 0 200px;
  padding: 0;
  list-style: none;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 100px;
  }

  &:before, &:after {
    position: absolute;
    top: 0;
    left: 40px;
    width: 1px;
    height: calc(100% + 125px);
    background: linear-gradient(rgba($exeq-border, 0) 0%, $exeq-border 50%, rgba($exeq-border, 0));
    content: '';
  }

  &:after {
    left: auto;
    right: 40px;
  }

  &__item {
    position: relative;

    svg {
      position: absolute;
      left: 50%;
      bottom: -10px;
      z-index: 1;
      width: 20px;
      transform: translateX(-50%);
    }
  }

  &__title {
    display: block;
    line-height: 125px;
    border-bottom: 1px solid $exeq-border;
    font-weight: 700;
    color: $exeq-main;
    outline: none !important;
    text-decoration: none !important;

    @media (max-width: $screen-xs-max) {
      line-height: 200px;
      font-size: 19px;
    }

    &:hover {
      color: $brand-danger;
    }
  }
}

.job-list {
  @include job-list;
}
