@mixin languages {
  margin: 66px 0 0 35px;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;

  &__item {
    display: inline-block;
    margin: 0;
    padding: 0 12px 0 8px;
    line-height: 1.2;

    &:first-child {
      padding-left: 0;
      border-right: 1px solid $exeq-inverted;
    }
  }

  &__link {
    color: $exeq-inactive;

    &--active {
      color: $exeq-inverted;
    }

    &:hover {
      color: $exeq-inverted;
      text-decoration: none;
    }
  }
}

.languages {
  @include languages;
}
