@mixin modal {
  text-align: left;

  &-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin: 0 auto;
    transform: translate(-50%, -50%) scale(.7) !important;
    transition: transform $exeq-transition-duration !important;

    @media (max-width: $screen-xs-max) {
      width: $modal-sm;
      font-size: 12px;
    }

    &:before {
      position: absolute;
      top: -3px;
      right: -3px;
      bottom: -3px;
      left: -3px;
      z-index: 0;
      background: linear-gradient(to top, $brand-danger 70%, $exeq-main 100%);
      content: '';
    }
  }

  &.in {
    .modal-dialog {
      transform: translate(-50%, -50%) scale(1) !important;
    }
  }

  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
    display: block;
    overflow: visible;
    opacity: 1;
    font-size: 0;

    &:before, &:after {
      position: absolute;
      top: calc(50% - 3px);
      right: -3px;
      width: 21px;
      border-top: 1px solid #d9d7e3;
      transform: rotate(45deg);
      content: "";
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &-header {
    h2 {
      width: 50%;
      margin: 0;
      padding: 80px 0 30px;
      font-size: 38px;
      font-weight: 700;
      background: url('img/job-header-bg.png') no-repeat;
      background-size: 102px auto;

      @media (max-width: $screen-xs-max) {
        font-size: 19px;
      }
    }

    @media (max-width: $screen-sm-max) {
      padding: 30px 30px 0;
    }
  }

  &-content {
    background-image: url('img/job-bg.jpg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    border-radius: 0;
    box-shadow: none;

    h3 {
      margin-bottom: 20px;
      font-size: 22px;
      font-weight: 700;

      @media (max-width: $screen-xs-max) {
        font-size: 15px;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      line-height: 2;
      list-style: none;

      li {
        svg {
          display: inline;
          width: 23px;
          margin-right: 7px;
          vertical-align: middle;
        }
      }

      @media (max-width: $screen-xs-max) {
        line-height: 2.5;
      }
    }

    img {
      width: 434px;
      height: 432px;
    }
  }

  &-body {
    @media (max-width: $screen-sm-max) {
      padding: 0 30px 30px;
    }
  }

  &-footer {
    padding: 0 60px 60px;
    text-align: left;

    @media (max-width: $screen-sm-max) {
      padding: 0 30px 30px;
    }

    span {
      position: relative;
      padding-top: 20px;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        background: $brand-danger;
        content: '';
      }
    }

    a {
      display: block;
      font-weight: 700;
      color: $exeq-main;
      text-decoration: none !important;
      transition: color $exeq-transition-duration;

      &:hover, &:focus {
        color: lighten($exeq-main, 12%);
      }
    }
  }
}

.fade {
  transition: opacity $exeq-transition-duration;
}

.modal {
  @include modal;
}
