@mixin navbar-toggle {
  $offset: 40px;
  $offset_gross: 50px;

  position: absolute;
  top: $offset_gross;
  left: $offset_gross;
  display: block;
  margin: 0;
  padding: 0;
  float: none;
  border: none;

  @media (min-width: $exeq-max-width + 1) {
    left: $offset;
  }

  @media (max-width: $screen-md-max) {
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 54px;
      height: 54px;
      background: $exeq-menu-bg;
      border-radius: 50%;
      transform: translate3d(-50%, -50%, 0);
      content: '';
    }
  }

  @media (max-width: $screen-sm-max) {
    top: 45px;
    left: 45px;
  }

  @media (max-width: $screen-xs-max) {
    top: 38px;
    left: 35px;
  }

  .icon-bar {
    position: relative;
    top: 0;
    width: 25px;
    transition: opacity 0s $exeq-transition-duration,
      top $exeq-transition-duration $exeq-transition-duration,
      transform $exeq-transition-duration $exeq-transition-duration/2;
    outline: 1px solid transparent;

    + .icon-bar {
      margin-top: 3px;
    }

    @media (max-width: $screen-md-max) {
      background-color: $exeq-inverted !important;
    }
  }

  &__text {
    margin-left: $grid-gutter-width / 2;
    display: none;
    line-height: 1;
    font-weight: 700;

    @media (min-width: $screen-lg-min) {
      display: block;
    }
  }

  &:not(.collapsed) {
    .icon-bar {
      border: 1px solid rgba(#fff, 0.5);
      border-radius: 0;
      transition: opacity 0s $exeq-transition-duration,
        top $exeq-transition-duration $exeq-transition-duration/2,
        transform $exeq-transition-duration $exeq-transition-duration;

      &--first {
        top: 8px;
        opacity: 0;
      }

      $angle: 43deg;

      &--left {
        transform: translateZ(0) rotate($angle);
        top: 3px;
      }

      &--right {
        transform: translateZ(0) rotate(-$angle);
        top: -2px;
      }

      &--last {
        top: -7px;
        opacity: 0;
      }
    }
  }

  @at-root .navbar-collapse & {
    position: static;
    padding: $offset_gross 0 0 $offset;

    @media (max-width: $screen-sm-max) {
      padding: 45px 0 0 40px;
    }

    @media (max-width: $screen-xs-max) {
      padding: 38px 0 0 32px;
    }

    .icon-bar {
      background: $exeq-inverted;

      @media (min-width: $screen-lg-min) {
        background: $exeq-menu-bg;
        border-color: $exeq-menu-bg;
      }
    }
  }
}

.navbar-toggle {
  @include navbar-toggle;
}
