@mixin navbar-collapse {
  position: absolute;
  top: 0;
  left: 10px;
  width: 0;
  height: 100vh !important;
  display: block !important;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;

  background: $exeq-menu-bg;
  border: none;
  transition: width $exeq-transition-duration*2;

  @media (max-width: $screen-sm-max) {
    left: 5px;
  }

  @media (max-width: $screen-xs-max) {
    left: 3px;
  }

  .navbar-nav {
    margin: 50px 0 0 35px;

    &--hidden {
      display: none;
    }
  }

  @media (min-width: $exeq-max-width + 1) {
    left: 0;
  }

  &[aria-expanded=true] {
    width: 250px;
  }
}

.navbar-collapse {
  @include navbar-collapse;
}
