@mixin newsletter {
  position: relative;
  width: 580px;
  margin: 0 auto;
  padding: 2px;
  text-align: left;
  background: linear-gradient(to top, $brand-danger 70%, $exeq-main 100%);
  box-shadow: 0 2px 2px 0 rgba(#000, .2);

  @media (max-width: $screen-xs-max) {
    width: 80%;
  }

  @at-root {
    .mc4wp-form {
      margin: 40px 0 100px;
      opacity: 1 !important;

      .mc4wp-response {
        position: relative;
      }

      .mc4wp-alert {
        position: absolute;
        width: 100%;
        margin: 20px 0 0;
        font-size: 14px;

        &.mc4wp-success, &.mc4wp-notice {
          color: $brand-success;
        }

        &.mc4wp-error {
          color: $brand-danger;
        }
      }
    }
  }

  &__container {
    position: relative;

    .section {
      padding: 0;
    }
  }

  &__input {
    width: calc(100% - 80px);
    height: 49px;
    padding: 0 40px 0 20px;
    line-height: 49px;
    border: none;
    border-radius: 0;
    background: $exeq-bg;
  }

  &__submit {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 78px;
    height: 49px;
    margin: 0 auto;
    line-height: 10px;
    border: none;
    background: $exeq-bg;
    transition: background-color $exeq-transition-duration;

    &:hover {
      background: $brand-danger;

      svg {
        .newsletter-arrow {
          fill: #fff;
        }
      }
    }

    svg {
      display: block;
      margin: 0 auto;
      width: 20px;
    }
  }

  &__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 1920px;
    height: 763px;
    background: url('img/newsletter-bg.jpg') no-repeat bottom;
    background-size: contain;
    transform: translate3d(0, 2%, 0);

    @media (max-width: $screen-xs-max) {
      width: 900px;
      height: 400px;
      transform: translate3d(0, 18%, 0);
    }
  }
}

.newsletter {
  @include newsletter;
}
