@mixin popover {
  padding: 20px;
  font-size: 16px;
  line-height: 19px;
  border: none;
  border-radius: 0;
  background: linear-gradient(to top, $brand-danger 70%, $exeq-main);
  box-shadow: none;

  @media (max-width: $exeq-breakpoint-xlarge) {
    font-size: 14px;
  }

  &:before {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    z-index: -1;
    background: $popover-bg;
    content: '';
  }

  &.top > .arrow {
    bottom: -10px;

    &:after {
      bottom: 3px;
    }
  }
}

.popover {
  @include popover;
}
