@mixin read-more {
  display: inline-block;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 92%;
    background: #e36d6f;
    border-radius: 20px;
    content: '';
  }

  &:hover {
    #btn {
      opacity: 0.7;
    }
  }

  svg {
    width: 40px;
  }

  #btn {
    transition: opacity $exeq-transition-duration;
  }

  #arrow {
    position: relative;
    z-index: 2;
    transform: translate3d(29.5px, 20px, 0);

    path {
      fill: #fff;
    }
  }
}

.read-more {
  @include read-more;
}
