@mixin services {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;

  @media (max-width: $screen-sm-max) {
    width: 233.3331%;
  }

  @media (max-width: $screen-xs-max) {
    width: 1365px;
  }

  &__container {
    padding-bottom: 0;

    @media (max-width: $screen-xs-max) {
      padding-bottom: 40px;
    }

    h2, p {
      opacity: 0;
      transition: opacity $exeq-transition-duration;
    }

    &.active {
      h2, p {
        opacity: 1;
      }

      .gallery__inner {
        &:after {
          width: 0;
        }
      }

      .services__item {
        opacity: 1;

        svg {
          transform: translateZ(0) scale(1, 1);
        }
      }
    }

    &--outer {
      position: relative;
      z-index: 1;
    }

    .gallery__container {
      width: 245px;

      @media (min-width: $screen-sm-min) {
        width: 100%;
      }
    }

    .gallery__inner {
      &:after {
        position: absolute;
        top: 260px;
        right: -50px;
        z-index: 2;
        width: calc(100% + 100px);
        height: 60px;
        background: $exeq-bg;
        transition: width $exeq-transition-duration*9;
        content: '';
      }

      @media (min-width: $screen-lg-min) {
        overflow: visible;
      }

      @media (max-width: $screen-sm-max) {
        margin: 0 50px;
        padding: 0 25px;
      }

      @media (max-width: $screen-xs-max) {
        width: 245px;
        height: 320px;
        margin: 0;
      }
    }

    .gallery-nav {
      @media (min-width: $screen-md-min) {
        display: none;
      }

      &__prev {
        left: 0;

        @media (max-width: $screen-xs-max) {
          left: -$grid-gutter-width;
        }
      }

      &__next {
        right: 0;

        @media (max-width: $screen-xs-max) {
          right: -$grid-gutter-width;
        }
      }
    }
  }

  span {
    display: block;
  }

  &__item {
    position: relative;
    height: 500px;
    flex-grow: 1;
    flex-basis: 14.2857%;
    padding-top: 70px;
    opacity: 0;
    transition: opacity $exeq-transition-duration*2 $exeq-transition-duration;

    @function services__item($count) {
      $s: '';
      @for $i from 1 through $count {
        $s: $s + ' + .services__item';
      }
      @return $s;
    }

    @for $i from 1 to 7 {
      #{services__item($i)} {
        transition-delay: $exeq-transition-duration*($i+1);

        svg {
          transition-delay: $exeq-transition-duration*($i+1);
        }
      }
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      font-size: 16px;
    }

    @media (max-width: $screen-sm-max) {
      flex-basis: 33.3333%;
    }

    @media (max-width: $screen-xs-max) {
      flex-basis: 195px;
    }

    &:not(:first-child):before {
      position: absolute;
      top: 0;
      left: -1px;
      width: 2px;
      height: 500px;
      background: linear-gradient(to bottom, rgba(#fff, 0), $exeq-dots, rgba(#fff, 0));
      content: '';
    }

    $services: (--infr, --research, --develop, --demo, --implement,
    --comm, --expansion);
    $heights: (73px, 77px, 46px, 59px, 76px, 65px, 57px);
    $margins-top: (0, 0, 12px, 4px, 0, 0, 5px);
    $margins: (4px, 0, 19px, 14px, 1px, 12px, 15px);

    @each $service in $services {
      &#{$service} {
        svg {
          display: block;
          height: nth($heights, index($services, $service));
          margin: nth($margins-top, index($services, $service)) auto $grid-gutter-width+nth($margins, index($services, $service));
        }
      }
    }

    &--research {
      .research3 {
        fill: #D72D2F;
      }
    }

    > a {
      outline: none;
      color: $exeq-main;
      text-decoration: none;
    }

    svg {
      transform: translateZ(0) scale(0.7, 0.7);
      transition: transform $exeq-transition-duration*2 $exeq-transition-duration;
    }
  }

  &__bg {
    position: absolute;
    bottom: 0;
    right: -15px;
    z-index: 1;
    width: 805px;
    height: 857px;
    background: url('img/services-bg.jpg') no-repeat transparent;
    transform: translateZ(0) translateY(45%);
    background-size: contain;

    @media (max-width: $screen-sm-max) {
      width: 649px;
      height: 423px;
      background: url('img/services-mobile-bg.jpg') no-repeat transparent;
      background-size: contain;
    }

    @media (max-width: $screen-xs-max) {
      width: 375px;
      background: url('img/services-phone-bg.jpg') no-repeat transparent;
      background-size: contain;
    }
  }
}

.services {
  @include services;
}
