@mixin social-links {
  margin: 50px 0 0 35px;
  padding: 0;
  list-style: none;

  &__item {
    display: inline-block;
    width: 35px;
    margin: 0 2px 0 0;
    padding: 0;

    path {
      fill: $exeq-inverted;
    }
  }

  &__link {
    display: block;
    position: relative;
    line-height: 1;

    &:after {
      position: absolute;
      top: 2px;
      left: 2px;
      width: calc(100% - 4px);
      height: calc(97% - 5px);
      border: 0 solid $brand-danger;
      border-radius: 50%;
      content: '';
      transition: border-width $exeq-transition-duration/4;
    }

    &:hover {
      &:after {
        border-width: 2px;
      }
    }
  }
}

.social-links {
  @include social-links;
}
