@mixin steps {
  @include make-row;
  position: relative;
  z-index: 3;
  margin-top: 75px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  font-size: 15.5px;

  @media (max-width: $screen-xs-max) {
    margin: {
      left: auto;
      right: auto;
    }
    width: 200px;
  }

  @at-root .process.active .steps__item {
    .steps__button {
      transform: translateZ(0) scale(1, 1);
    }

    .steps__desc {
      opacity: 1;
    }
  }

  &__container {
    position: relative;

    @media (max-width: $screen-xs-max) {
      margin: {
        left: auto;
        right: auto;
      }
      width: 330px;
    }
  }

  &__item {
    @include make-sm-column(5);
    @include make-md-column(2);
    @include make-md-column-offset(1);
    position: relative;
    height: 145px;
    padding-top: 36px;

    @media (max-width: $screen-xs-max) {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 103px;
      padding: 0 0 5px;
    }

    &:nth-child(2n-1) {
      @include make-sm-column-offset(1);
    }

    &:nth-child(3n-2) {
      @include make-md-column-offset(2);
    }

    &--left {
      padding-right: 0;

      .steps__button {
        @media (min-width: $screen-lg-min) {
          left: calc(50% + #{$grid-gutter-width/4});
        }
      }
    }

    &--right {
      padding-left: 0;

      .steps__button {
        @media (min-width: $screen-lg-min) {
          left: calc(50% - #{$grid-gutter-width/4});
        }
      }
    }

    &--final {
      .steps__button {
        width: 34px;
        height: 34px;
        margin: -17px 0 0 -17px;
      }
    }

    @function steps__item($count) {
      $s: '';
      @for $i from 1 through $count {
        $s: $s + ' + .steps__item';
      }
      @return $s;
    }

    & + .steps__item {
      .steps__button, .steps__desc {
        transition-delay: $exeq-transition-steps * 1 / 3;

        @media (max-width: $screen-xs-max) {
          transition-delay: $exeq-transition-steps * 7 / 11;
        }
      }

      & + .steps__item {
        .steps__button, .steps__desc {
          transition-delay: $exeq-transition-steps * 2 / 3;

          @media (max-width: $screen-sm-max) {
            transition-delay: $exeq-transition-steps*1.4 + $exeq-transition-steps * 2 / 3;
          }

          @media (max-width: $screen-xs-max) {
            transition-delay: $exeq-transition-steps * 14 / 11;
          }
        }

        & + .steps__item {
          .steps__button, .steps__desc {
            transition-delay: $exeq-transition-steps*1.5 + $exeq-transition-steps * 2 / 3;

            @media (max-width: $screen-sm-max) {
              transition-delay: $exeq-transition-steps*1.4;
            }

            @media (max-width: $screen-xs-max) {
              transition-delay: $exeq-transition-steps * 20 / 11;
            }
          }

          & + .steps__item {
            .steps__button, .steps__desc {
              transition-delay: $exeq-transition-steps*1.5 + $exeq-transition-steps * 1 / 3;

              @media (max-width: $screen-sm-max) {
                transition-delay: $exeq-transition-steps*2.8;
              }

              @media (max-width: $screen-xs-max) {
                transition-delay: $exeq-transition-steps * 27 / 11;
              }
            }

            & + .steps__item {
              .steps__button, .steps__desc {
                transition-delay: $exeq-transition-steps*1.5;

                @media (max-width: $screen-sm-max) {
                  transition-delay: $exeq-transition-steps*2.8 + $exeq-transition-steps * 2 / 3;
                }

                @media (max-width: $screen-xs-max) {
                  transition-delay: $exeq-transition-steps * 34 / 11;
                }
              }

              & + .steps__item {
                .steps__button, .steps__desc {
                  transition-delay: $exeq-transition-steps*3;

                  @media (max-width: $screen-sm-max) {
                    transition-delay: $exeq-transition-steps*4.2 + $exeq-transition-steps * 2 / 3;
                  }

                  @media (max-width: $screen-xs-max) {
                    transition-delay: $exeq-transition-steps * 40 / 11;
                  }
                }

                & + .steps__item {
                  .steps__button, .steps__desc {
                    transition-delay: $exeq-transition-steps*3 + $exeq-transition-steps / 3;

                    @media (max-width: $screen-sm-max) {
                      transition-delay: $exeq-transition-steps*4.2;
                    }

                    @media (max-width: $screen-xs-max) {
                      transition-delay: $exeq-transition-steps * 47 / 11;
                    }
                  }

                  & + .steps__item {
                    .steps__button, .steps__desc {
                      transition-delay: $exeq-transition-steps*3 + $exeq-transition-steps * 2 /3;

                      @media (max-width: $screen-sm-max) {
                        transition-delay: $exeq-transition-steps*5.6;
                      }

                      @media (max-width: $screen-xs-max) {
                        transition-delay: $exeq-transition-steps * 53 / 11;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &__button {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin: -12px 0 0 -12px;
    padding: 0;
    line-height: 1;
    background: none;
    border: none;
    outline: none !important;
    transform: translateZ(0) scale(0,0);
    transition: transform $exeq-transition-steps;
    transition-timing-function: cubic-bezier(.39, .74, 0, 1.5);

    @media (max-width: $screen-xs-max) {
      width: 30px;
      height: 30px;
      margin: -15px 0 0 -15px;
    }

    &:hover {
      cursor: pointer;
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transition: opacity $exeq-transition-steps;
    }

    .active {
      opacity: 0;
    }

    &[aria-describedby] {
      .inactive {
        opacity: 0;
      }

      .active {
        opacity: 1;
      }
    }

    &:not([aria-describedby]) {
      &:hover {
        .active {
          opacity: 1;

          .circle3 {
            fill: $exeq-main;
          }
        }
      }

    }
  }

  &__desc {
    opacity: 0;
    transition: opacity $exeq-transition-steps;
  }
}

.steps {
  @include steps;
}
