@mixin steps-lines {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 290px;

  @at-root .process.active .steps-lines__item:after {
    width: 0;
    height: 0;
  }

  &__item {
    position: absolute;

    &:after {
      position: absolute;
      border-color: $exeq-bg !important;
      transition: width $exeq-transition-steps linear, height $exeq-transition-steps linear;
      content: '';
    }

    &--1 {
      &, &:after {
        top: 0;
        left: 261px;
        width: 768px;
        border-top: 1px solid $exeq-dots;

        @media (max-width: $exeq-breakpoint-xlarge) {
          left: 203px;
          width: 626px;
        }

        @media (max-width: $screen-md-max) {
          width: 596px;
        }

        @media (max-width: $screen-sm-max) {
          left: 172px;
          width: 407px;
        }

        @media (max-width: $screen-xs-max) {
          left: 125px;
          width: 113px;
        }
      }

      &:after {
        top: -1px;
        right: 0;
        left: auto;

        @media (max-width: $screen-xs-max) {
          transition-duration: $exeq-transition-steps*.2;
        }
      }
    }

    &--2 {
      &, &:after {
        top: 0;
        right: 68px;
        width: 73px;
        height: 73px;
        border-top: 1px solid $exeq-dots;
        border-right: 1px solid $exeq-dots;
        border-top-right-radius: 100%;

        @media (max-width: $screen-xs-max) {
          right: 40px;
          width: 52px;
          height: 52px;
        }
      }

      &:after {
        top: auto;
        right: -1px;
        left: 0;
        bottom: -1px;
        width: calc(100% + 2px) !important;
        height: calc(100% + 2px);
        border: none;
        border-radius: 0;
        background: $exeq-bg;
        transition-duration: $exeq-transition-steps*.2;
        transition-delay: $exeq-transition-steps;
        transition-timing-function: ease-in;

        @media (max-width: $screen-xs-max) {
          transition-delay: $exeq-transition-steps*.2;
        }
      }
    }

    &--3 {
      &, &:after {
        top: 73px;
        right: 68px;
        width: 73px;
        height: 73px;
        border-right: 1px solid $exeq-dots;
        border-bottom: 1px solid $exeq-dots;
        border-bottom-right-radius: 100%;

        @media (max-width: $screen-xs-max) {
          top: 52px;
          right: 40px;
          width: 52px;
          height: 52px;
        }
      }

      &:after {
        top: auto;
        right: -1px;
        left: 0;
        bottom: -1px;
        width: calc(100% + 2px) !important;
        height: calc(100% + 2px);
        border: none;
        border-radius: 0;
        background: $exeq-bg;
        transition-duration: $exeq-transition-steps*.2;
        transition-delay: $exeq-transition-steps*1.2;
        transition-timing-function: ease-out;

        @media (max-width: $screen-xs-max) {
          transition-delay: $exeq-transition-steps*.4;
        }
      }
    }

    &--4 {
      &, &:after {
        top: 145px;
        right: 141px;
        width: 888px;
        border-top: 1px solid $exeq-dots;

        @media (max-width: $exeq-breakpoint-xlarge) {
          width: 688px;
        }

        @media (max-width: $screen-md-max) {
          width: 658px;
        }

        @media (max-width: $screen-sm-max) {
          width: 438px;
        }

        @media (max-width: $screen-xs-max) {
          top: 103px;
          right: 92px;
          width: 146px;
        }
      }

      &:after {
        top: -1px;
        right: auto;
        left: 0;
        transition-delay: $exeq-transition-steps*1.4;

        @media (max-width: $screen-xs-max) {
          transition-duration: $exeq-transition-steps*.2;
          transition-delay: $exeq-transition-steps*.6;
        }
      }
    }

    &--5 {
      &, &:after {
        top: 145px;
        left: 68px;
        width: 73px;
        height: 73px;
        border-top: 1px solid $exeq-dots;
        border-left: 1px solid $exeq-dots;
        border-top-left-radius: 100%;

        @media (max-width: $screen-xs-max) {
          top: 103px;
          left: 40px;
          width: 52px;
          height: 52px;
        }
      }

      &:after {
        top: auto;
        right: 0;
        left: -1px;
        bottom: -1px;
        width: calc(100% + 2px) !important;
        height: calc(100% + 2px);
        border: none;
        border-radius: 0;
        background: $exeq-bg;
        transition-duration: $exeq-transition-steps*.2;
        transition-delay: $exeq-transition-steps*2.4;
        transition-timing-function: ease-in;

        @media (max-width: $screen-xs-max) {
          transition-delay: $exeq-transition-steps*.8;
        }
      }
    }

    &--6 {
      &, &:after {
        top: 218px;
        left: 68px;
        width: 73px;
        height: 73px;
        border-bottom: 1px solid $exeq-dots;
        border-left: 1px solid $exeq-dots;
        border-bottom-left-radius: 100%;

        @media (max-width: $screen-xs-max) {
          top: 155px;
          left: 40px;
          width: 52px;
          height: 52px;
        }
      }

      &:after {
        top: auto;
        right: 0;
        left: -1px;
        bottom: -1px;
        width: calc(100% + 2px) !important;
        height: calc(100% + 2px);
        border: none;
        border-radius: 0;
        background: $exeq-bg;
        transition-duration: $exeq-transition-steps*.2;
        transition-delay: $exeq-transition-steps*2.6;
        transition-timing-function: ease-out;

        @media (max-width: $screen-xs-max) {
          transition-delay: $exeq-transition-steps;
        }
      }
    }

    &--7 {
      &, &:after {
        top: 290px;
        left: 141px;
        width: 725px;
        border-top: 1px solid $exeq-dots;

        @media (max-width: $exeq-breakpoint-xlarge) {
          width: 590px;
        }

        @media (max-width: $screen-md-max) {
          width: 580px;
        }

        @media (max-width: $screen-sm-max) {
          width: 438px;
        }

        @media (max-width: $screen-xs-max) {
          top: 206px;
          left: 92px;
          width: 146px;
        }
      }

      &:after {
        top: -1px;
        right: 0;
        left: auto;
        transition-delay: $exeq-transition-steps*2.8;

        @media (max-width: $screen-xs-max) {
          transition-duration: $exeq-transition-steps*.2;
          transition-delay: $exeq-transition-steps*1.2;
        }
      }
    }

    &--17 {
      &, &:after {
        @media (max-width: $screen-sm-max) {
          top: 290px;
          right: 68px;
          width: 73px;
          height: 73px;
          border-top: 1px solid $exeq-dots;
          border-right: 1px solid $exeq-dots;
          border-top-right-radius: 100%;
        }

        @media (max-width: $screen-xs-max) {
          top: 206px;
          right: 40px;
          width: 52px;
          height: 52px;
        }
      }

      &:after {
        top: auto;
        right: -1px;
        left: 0;
        bottom: -1px;
        width: calc(100% + 2px) !important;
        height: calc(100% + 2px);
        border: none;
        border-radius: 0;
        background: $exeq-bg;
        transition-duration: $exeq-transition-steps*.2;
        transition-delay: $exeq-transition-steps*3.8;
        transition-timing-function: ease-in;

        @media (max-width: $screen-xs-max) {
          transition-delay: $exeq-transition-steps*1.4;
        }
      }
    }

    &--18 {
      &, &:after {
        @media (max-width: $screen-sm-max) {
          top: 363px;
          right: 68px;
          width: 73px;
          height: 73px;
          border-right: 1px solid $exeq-dots;
          border-bottom: 1px solid $exeq-dots;
          border-bottom-right-radius: 100%;
        }

        @media (max-width: $screen-xs-max) {
          top: 258px;
          right: 40px;
          width: 52px;
          height: 52px;
        }
      }

      &:after {
        top: auto;
        right: -1px;
        left: 0;
        bottom: -1px;
        width: calc(100% + 2px) !important;
        height: calc(100% + 2px);
        border: none;
        border-radius: 0;
        background: $exeq-bg;
        transition-duration: $exeq-transition-steps*.2;
        transition-delay: $exeq-transition-steps*4;
        transition-timing-function: ease-out;

        @media (max-width: $screen-xs-max) {
          transition-delay: $exeq-transition-steps*1.6;
        }
      }
    }

    &--19 {
      &, &:after {
        @media (max-width: $screen-sm-max) {
          top: 435px;
          left: 141px;
          width: 438px;
          border-top: 1px solid $exeq-dots;
        }

        @media (max-width: $screen-xs-max) {
          top: 309px;
          left: auto;
          right: 92px;
          width: 146px;
        }
      }

      &:after {
        top: -1px;
        right: auto;
        left: 0;
        transition-delay: $exeq-transition-steps*4.2;

        @media (max-width: $screen-xs-max) {
          transition-duration: $exeq-transition-steps*.2;
          transition-delay: $exeq-transition-steps*1.8;
        }
      }
    }

    &--20 {
      &, &:after {
        @media (max-width: $screen-sm-max) {
          top: 435px;
          left: 68px;
          width: 73px;
          height: 73px;
          border-top: 1px solid $exeq-dots;
          border-left: 1px solid $exeq-dots;
          border-top-left-radius: 100%;
        }

        @media (max-width: $screen-xs-max) {
          top: 309px;
          left: 40px;
          width: 52px;
          height: 52px;
        }
      }

      &:after {
        top: auto;
        right: 0;
        left: -1px;
        bottom: -1px;
        width: calc(100% + 2px) !important;
        height: calc(100% + 2px);
        border: none;
        border-radius: 0;
        background: $exeq-bg;
        transition-duration: $exeq-transition-steps*.2;
        transition-delay: $exeq-transition-steps*5.2;
        transition-timing-function: ease-in;

        @media (max-width: $screen-xs-max) {
          transition-delay: $exeq-transition-steps*2;
        }
      }
    }

    &--21 {
      &, &:after {
        @media (max-width: $screen-sm-max) {
          top: 508px;
          left: 68px;
          width: 73px;
          height: 73px;
          border-bottom: 1px solid $exeq-dots;
          border-left: 1px solid $exeq-dots;
          border-bottom-left-radius: 100%;
        }

        @media (max-width: $screen-xs-max) {
          top: 362px;
          left: 40px;
          width: 52px;
          height: 52px;
        }
      }

      &:after {
        top: auto;
        right: 0;
        left: -1px;
        bottom: -1px;
        width: calc(100% + 2px) !important;
        height: calc(100% + 2px);
        border: none;
        border-radius: 0;
        background: $exeq-bg;
        transition-duration: $exeq-transition-steps*.2;
        transition-delay: $exeq-transition-steps*5.4;
        transition-timing-function: ease-out;

        @media (max-width: $screen-xs-max) {
          transition-delay: $exeq-transition-steps*2.2;
        }
      }
    }

    &--22 {
      &, &:after {
        @media (max-width: $screen-sm-max) {
          top: 580px;
          left: 141px;
          width: 79px;
          border-top: 1px solid $exeq-dots;
        }

        @media (max-width: $screen-xs-max) {
          top: 413px;
          left: 92px;
          width: 146px;
        }
      }

      &:after {
        top: -1px;
        right: 0;
        left: auto;
        transition-duration: $exeq-transition-steps*.2;
        transition-delay: $exeq-transition-steps*5.6;

        @media (max-width: $screen-xs-max) {
          transition-duration: $exeq-transition-steps*.2;
          transition-delay: $exeq-transition-steps*2.4;
        }
      }
    }

    &--23 {
      &, &:after {
        @media (max-width: $screen-xs-max) {
          top: 413px;
          right: 40px;
          width: 52px;
          height: 52px;
          border-top: 1px solid $exeq-dots;
          border-right: 1px solid $exeq-dots;
          border-top-right-radius: 100%;
        }
      }

      &:after {
        top: auto;
        right: -1px;
        left: 0;
        bottom: -1px;
        width: calc(100% + 2px) !important;
        height: calc(100% + 2px);
        border: none;
        border-radius: 0;
        background: $exeq-bg;
        transition-duration: $exeq-transition-steps*.2;
        transition-delay: $exeq-transition-steps*3.8;
        transition-timing-function: ease-in;

        @media (max-width: $screen-xs-max) {
          transition-delay: $exeq-transition-steps*2.6;
        }
      }
    }

    &--24 {
      &, &:after {
        @media (max-width: $screen-xs-max) {
          top: 465px;
          right: 40px;
          width: 52px;
          height: 52px;
          border-right: 1px solid $exeq-dots;
          border-bottom: 1px solid $exeq-dots;
          border-bottom-right-radius: 100%;
        }
      }

      &:after {
        top: auto;
        right: -1px;
        left: 0;
        bottom: -1px;
        width: calc(100% + 2px) !important;
        height: calc(100% + 2px);
        border: none;
        border-radius: 0;
        background: $exeq-bg;
        transition-duration: $exeq-transition-steps*.2;
        transition-delay: $exeq-transition-steps*4;
        transition-timing-function: ease-out;

        @media (max-width: $screen-xs-max) {
          transition-delay: $exeq-transition-steps*2.8;
        }
      }
    }

    &--25 {
      &, &:after {
        @media (max-width: $screen-xs-max) {
          top: 516px;
          right: 92px;
          width: 146px;
          border-top: 1px solid $exeq-dots;
        }
      }

      &:after {
        top: -1px;
        right: auto;
        left: 0;
        transition-delay: $exeq-transition-steps*4.2;

        @media (max-width: $screen-xs-max) {
          transition-duration: $exeq-transition-steps*.2;
          transition-delay: $exeq-transition-steps*3;
        }
      }
    }

    &--26 {
      &, &:after {
        @media (max-width: $screen-xs-max) {
          top: 516px;
          left: 40px;
          width: 52px;
          height: 52px;
          border-top: 1px solid $exeq-dots;
          border-left: 1px solid $exeq-dots;
          border-top-left-radius: 100%;
        }
      }

      &:after {
        top: auto;
        right: 0;
        left: -1px;
        bottom: -1px;
        width: calc(100% + 2px) !important;
        height: calc(100% + 2px);
        border: none;
        border-radius: 0;
        background: $exeq-bg;
        transition-duration: $exeq-transition-steps*.2;
        transition-delay: $exeq-transition-steps*5.2;
        transition-timing-function: ease-in;

        @media (max-width: $screen-xs-max) {
          transition-delay: $exeq-transition-steps*3.2;
        }
      }
    }

    &--27 {
      &, &:after {
        @media (max-width: $screen-xs-max) {
          top: 568px;
          left: 40px;
          width: 52px;
          height: 52px;
          border-bottom: 1px solid $exeq-dots;
          border-left: 1px solid $exeq-dots;
          border-bottom-left-radius: 100%;
        }
      }

      &:after {
        top: auto;
        right: 0;
        left: -1px;
        bottom: -1px;
        width: calc(100% + 2px) !important;
        height: calc(100% + 2px);
        border: none;
        border-radius: 0;
        background: $exeq-bg;
        transition-duration: $exeq-transition-steps*.2;
        transition-delay: $exeq-transition-steps*5.4;
        transition-timing-function: ease-out;

        @media (max-width: $screen-xs-max) {
          transition-delay: $exeq-transition-steps*3.4;
        }
      }
    }

    &--28 {
      &, &:after {
        @media (max-width: $screen-xs-max) {
          top: 619px;
          left: 92px;
          width: 146px;
          border-top: 1px solid $exeq-dots;
        }
      }

      &:after {
        top: -1px;
        right: 0;
        left: auto;
        transition-duration: $exeq-transition-steps*.2;
        transition-delay: $exeq-transition-steps*5.6;

        @media (max-width: $screen-xs-max) {
          transition-duration: $exeq-transition-steps*.2;
          transition-delay: $exeq-transition-steps*3.6;
        }
      }
    }

    &--29 {
      &, &:after {
        @media (max-width: $screen-xs-max) {
          top: 619px;
          right: 40px;
          width: 52px;
          height: 52px;
          border-top: 1px solid $exeq-dots;
          border-right: 1px solid $exeq-dots;
          border-top-right-radius: 100%;
        }
      }

      &:after {
        top: auto;
        right: -1px;
        left: 0;
        bottom: -1px;
        width: calc(100% + 2px) !important;
        height: calc(100% + 2px);
        border: none;
        border-radius: 0;
        background: $exeq-bg;
        transition-duration: $exeq-transition-steps*.2;
        transition-delay: $exeq-transition-steps*3.8;
        transition-timing-function: ease-in;

        @media (max-width: $screen-xs-max) {
          transition-delay: $exeq-transition-steps*3.8;
        }
      }
    }

    &--30 {
      &, &:after {
        @media (max-width: $screen-xs-max) {
          top: 670px;
          right: 40px;
          width: 52px;
          height: 52px;
          border-right: 1px solid $exeq-dots;
          border-bottom: 1px solid $exeq-dots;
          border-bottom-right-radius: 100%;
        }
      }

      &:after {
        top: auto;
        right: -1px;
        left: 0;
        bottom: -1px;
        width: calc(100% + 2px) !important;
        height: calc(100% + 2px);
        border: none;
        border-radius: 0;
        background: $exeq-bg;
        transition-duration: $exeq-transition-steps*.2;
        transition-delay: $exeq-transition-steps*4;
        transition-timing-function: ease-out;

        @media (max-width: $screen-xs-max) {
          transition-delay: $exeq-transition-steps*4;
        }
      }
    }

    &--31 {
      &, &:after {
        @media (max-width: $screen-xs-max) {
          top: 721px;
          right: 92px;
          width: 146px;
          border-top: 1px solid $exeq-dots;
        }
      }

      &:after {
        top: -1px;
        right: auto;
        left: 0;
        transition-delay: $exeq-transition-steps*4.2;

        @media (max-width: $screen-xs-max) {
          transition-duration: $exeq-transition-steps*.2;
          transition-delay: $exeq-transition-steps*4.2;
        }
      }
    }

    &--32 {
      &, &:after {
        @media (max-width: $screen-xs-max) {
          top: 721px;
          left: 40px;
          width: 52px;
          height: 52px;
          border-top: 1px solid $exeq-dots;
          border-left: 1px solid $exeq-dots;
          border-top-left-radius: 100%;
        }
      }

      &:after {
        top: auto;
        right: 0;
        left: -1px;
        bottom: -1px;
        width: calc(100% + 2px) !important;
        height: calc(100% + 2px);
        border: none;
        border-radius: 0;
        background: $exeq-bg;
        transition-duration: $exeq-transition-steps*.2;
        transition-delay: $exeq-transition-steps*5.2;
        transition-timing-function: ease-in;

        @media (max-width: $screen-xs-max) {
          transition-delay: $exeq-transition-steps*4.4;
        }
      }
    }

    &--33 {
      &, &:after {
        @media (max-width: $screen-xs-max) {
          top: 773px;
          left: 40px;
          width: 52px;
          height: 52px;
          border-bottom: 1px solid $exeq-dots;
          border-left: 1px solid $exeq-dots;
          border-bottom-left-radius: 100%;
        }
      }

      &:after {
        top: auto;
        right: 0;
        left: -1px;
        bottom: -1px;
        width: calc(100% + 2px) !important;
        height: calc(100% + 2px);
        border: none;
        border-radius: 0;
        background: $exeq-bg;
        transition-duration: $exeq-transition-steps*.2;
        transition-delay: $exeq-transition-steps*5.4;
        transition-timing-function: ease-out;

        @media (max-width: $screen-xs-max) {
          transition-delay: $exeq-transition-steps*4.6;
        }
      }
    }

    &--34 {
      &, &:after {
        @media (max-width: $screen-xs-max) {
          top: 824px;
          left: 92px;
          width: 89px;
          border-top: 1px solid $exeq-dots;
        }
      }

      &:after {
        top: -1px;
        right: 0;
        left: auto;
        transition-duration: $exeq-transition-steps*.2;
        transition-delay: $exeq-transition-steps*5.6;

        @media (max-width: $screen-xs-max) {
          transition-duration: $exeq-transition-steps*.1;
          transition-delay: $exeq-transition-steps*4.8;
        }
      }
    }

    &--active {
      display: none;
      z-index: 2;
      border-top: 1px solid $brand-danger;
      transition: width $exeq-transition-steps, height $exeq-transition-steps;

      &--2, &--3 {
        border-right: 1px solid $brand-danger;
      }

      &--3 {
        border-top: none;
        border-bottom: 1px solid $brand-danger;
      }

      &--5, &--6 {
        border-left: 1px solid $brand-danger;
      }

      &--6 {
        border-top: none;
        border-bottom: 1px solid $brand-danger;
      }

      &:not(.active) {
        width: 0;
        height: 0;
      }
    }

    $width-map: (8: 32px, 9: 324px, 10: 616px, 11: 152px, 12: 444px, 13: 737px, 14: 152px, 15: 444px);

    @each $index, $width in $width-map {
      &--#{$index} {
        @if $index < 11 {
          top: 0;
          left: 261px;
        } @else if $index < 14 {
          top: 145px;
          right: 141px;
        } @else {
          top: 290px;
          left: 141px;
        }

        &.active {
          width: $width;
          height: 1px;
        }
      }
    }
  }
}

.steps-lines {
  @include steps-lines;
}
